@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&effect=shadow-multiple|3d-float');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
 background: rgb(4, 153, 253);
 height: 81px;
 margin: 1px 0px 0px 0px;
 text-align: center;
}
label{
    font-size: 53px;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.ctg-anim{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.ctg-heading{
    font-size: 30px;
    position: relative;
    top: 20px;
}
.ctg-anim-contai{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: opa 1s forwards;
}
@keyframes opa {
    0%{opacity: 0;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}
.ctg-anim-contai a{
    width: 16%;
    position: relative;
}
.ctg-anim-contai a img{
    width: 100%;
}
.ctg-anim-contai :nth-child(1){
   animation: ctg1 3s forwards;
   left: 233px;
}
.ctg-anim-contai :nth-child(2){
    animation: ctg2 3s forwards;left: 10px;
  
 }
 .ctg-anim-contai :nth-child(3){
    animation: ctg3 3s forwards;  right: 236px;
 }
  @keyframes ctg1 {
     0%{left: 233px;}
     100%{left: 0px;}
 }
 @keyframes ctg2 {
    0%{left: 10px;}
    100%{left: 0px;}
}
@keyframes ctg3 {
    0%{right: 236px;}
    100%{right: 0px;}
} 
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
    grid-row-gap: 51px;
    margin: 20px 0px 20px 0px;
}
.card{
    width: 370px;
    border: 3px solid;
    height: 460px;
}
.img-box{
    height:87%;
}
.card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    height: 13%;
    justify-content: space-around;
    background: black;
    align-items: center;
    display: flex;
    color: white;
}
footer{
    background: black;
    width: 100%;
    height:80px;
    color: rgb(235, 219, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}