@media screen and (max-width:800px){
    .container{
        display:flex;
        flex-wrap: wrap;
        margin: 20px 1px 20px 2px;
    }
    .ctg-heading {
        top: 52px;
    }
    .ctg-anim .ctg-anim-contai :nth-child(1){
        height: 59%;
    }
    .ctg-anim .ctg-anim-contai :nth-child(2){
        height: 59%;
    }
    .ctg-anim .ctg-anim-contai :nth-child(3){
        height: 59%;
    }
}


@media screen and (max-width:400px){
  .card{
            width: 315px;
        }
}
