@media screen and (max-width:800px){
    .container{
        display:flex;
        flex-wrap: wrap;
        margin: 20px 1px 20px 2px;
    }
     .ctg-heading {
        top: 52px;
     }
    .ctg-anim-contai a {
    width: 37%;
    position: relative;
}
}


@media screen and (max-width:400px){
  .card{
            width: 315px;
        }
}
